
/* Body Section  */

.completedCircle{
    width: 13.2rem;
    height: 13.2rem;
    padding-bottom: 1rem;
}
.h-completed{
    color: white;
    font-size: 1.6rem;
    font-family: "Inter", sans-serif;
}
.playAgainImage{
    height: 1.2rem;
    width: 1.2rem;
    transition: all 0.3s;
    margin-top: 0.35rem;
    padding-right: 0.1rem;
}
.playAgain{
    padding: 0.15rem 0.42rem;
}

